{% extends 'base.html' %}


{% block content %}

    <div class="text-center">
        <br>
        <br>

        <h3>Lite CRM... Gerenciamento de qualidade!</h3>

        <br>

        <h5>Continue monitoriando seus Leads com Eficiência</h5>

        <hr>
        <br>

        <a href="{% url 'register' %}" class="btn btn-primary" type="button">
            Crie sua Conta Agora! &nbsp;
            <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>

    </div>

{% endblock content %}
